audio, canvas, video {
  display: inline;
  zoom: 1
}
body, div, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, code, tr, th, td, hr, menu {
  margin: 0;
  padding: 0
}
ol, ul {
  list-style-type: none
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}
b, strong {
  font-weight: 700
}
blockquote, pre {
  white-space: pre-wrap;
  word-wrap: break-word
}
small {
  font-size: 80%;
  font-weight: normal
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sup {
  top: -0.5em
}
sub {
  bottom: -0.25em
}
ins, a {
  text-decoration: none
}
a:hover {
  color: #f60;
  text-decoration: underline
}

/* 清除浮动 */

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix {
  *zoom: 1;
}
* {
  margin: 0;
  padding: 0;
}
body, input, textarea {
  font: 12px/22px "Helvetica Neue", "Arial", "PingFang SC", "Microsoft Yahei","SimSun",sans-serif;
}
ul {
  list-style: none;
}
